extends layout

block content
  h1= title
 
  a(href="/new") Add New Message

block list
   each val, key in messages
    p= 'date' + ': ' + val.added
    p= 'text' + ': ' + val.text
    p= 'user' + ': ' + val.user