extends layout

block content
  h1= title
  div(class="buttonDiv")
    a(href="/new") Add New Message

block list
  div(class="messageFlex")
   each val, key in messages
      div(class="messagePad")
        div(class="messageContainer")
          p(class="message")= 'date' + ': ' + val.added
          p(class="message")= 'text' + ': ' + val.text
          p(class="message")= 'user' + ': ' + val.user